@font-face {
	  font-family: "Impact Regular";
	  src: url(../../fonts/Impact\ Regular.ttf);
}

@font-face {
	font-family: "Brush Script Std";
	src: url(../../fonts/Brush\ Script\ Std.ttf);
}

@font-face {
	font-family: "Oswald ExtraLight";
	src: url(../../fonts/Oswald\ ExtraLight.ttf);
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url("../../images/index/header_img.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	margin: 0;
}

header {
	font-size: 48px;
	margin-bottom: 250px;
	position: sticky;
	z-index: 1;
}

.container {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.logo {
	margin-top: 30px;
	margin-left: 50px;
	cursor: pointer;
	z-index: 2;
	position: fixed;
}

nav {
	text-align: end;
	font-family: "Oswald ExtraLight";
}

.nav_links {
    list-style: none;
	right: 0;
	margin-right: 40px;
	font-size: 40px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition:  all 0.3s ease 0s;
}

.video_index {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

h3 {
	font-size: 48px;
	color: white;
	justify-content: center;
}

h4 {
	font-size: 35px;
	color: white;
}

h5 {
	font-size: 22px;
	color: white;
}

p {
	color: white;
}

figure {
	position: relative;
	display: flex;
	align-items: center;
}

.member {
	color: white;
}

.person {
	width: 280px;
	border-radius: 25px;
}

.h3_index {
	display: flex;
	justify-content: center;
	margin-top: 80px;
	margin-bottom: 50px;
	font-family: "Impact Regular";
}

.h4_index {
	display: flex;
	justify-content: center;
	font-family: "Oswald ExtraLight";
}

.text_index {
	display: flex;
	justify-content: center;
	font-size: 28px;
	margin-top: 250px;
	font-family: "Oswald ExtraLight";
}

.name {
	font-family: "Oswald ExtraLight";
	padding: -100px;
}